
$cellSize: 80px;

.cell {
    width: $cellSize;
    height: $cellSize;
    background-size: 100% 100%; /* riempie tutta la cella deformando se necessario */
    background-position: center;
    background-repeat: no-repeat;
}