.container{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 65vh;
  align-items: center;

  .pokemon-canva {
    display: grid;// 10 colonne
    gap: 0;
  }
}
