.main-body {
  display: flex;
  flex-direction: column;
  height: 100vh; // tutta l'altezza dello schermo

  .container{
    flex: 1; // occupa tutto lo spazio rimasto
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .pokemon-canva {
      padding-right: 80px;
      padding-bottom: 75px;
      display: grid;// 10 colonne
      gap: 0;
    }
  }
}   


