@use "../../utils/variabili" as *;
.timer{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: center;  
    padding: 40px; 
    p{
        margin : 5px;
    }
}

@media (prefers-color-scheme: dark){
    .timer{
        color: $color_dark_text;
    }
}
@media (prefers-color-scheme: light){
    .timer{
        color: $color_light_text;
    }
}

.red-time{
    color: red;
}