.timer{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: center;  
    padding: 40px; 
    p{
        margin : 5px;
    }
}