//dark theme colors
$color_dark_bg: #181616;
$color_dark_text: #d5e2eb;

// Light theme colors
$color_light_text: #383535;
$color_light_bg: #eccece; 

$color_bg_light: rgb(96, 233, 238);
$color_bg_dark: rgb(74, 50, 209)