.poke-card{
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
    width: 700px;
    margin: auto;
    justify-content: center;
    align-self: center;
}