@use "../../utils/variabili" as *;
.poke-card{
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    width: 700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-self: center;
}
@media (prefers-color-scheme: dark){
    .poke-card{
        background-color: $color_dark_bg;
        color: $color_dark_text;
    }
}
@media (prefers-color-scheme: light){
    .poke-card{
        background-color: $color_light_bg;
        color: $color_light_text;
    }
}